@{
    ViewBag.Title = "Cadastro";
}
<center>
<h2>Cadastros Auxiliares</h2>

<a href="../Raca/Listar"><img src=../../Content/img/raca.png width=90 height=100 title="Cadastro de Raças" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../MedicinaPrev/Listar"><img src=../../Content/img/medprev.png width=90 height=100 title="Cadastro do medicina Preventiva" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	       
<a href="../Temperamento/Listar"><img src=../../Content/img/temperamento.png width=90 height=100 title="Cadastrar Temperamento" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../EspecieDoenca/Listar"><img src=../../Content/img/diag.png width=90 height=100 title="Doenças por espécie" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../EspecieCheckup/Listar"><img src=../../Content/img/checkup.png width=80 height=80 title="Cadastro de Checkup" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../MotivoBaixa/Listar"><img src=../../Content/img/baixa.png width=90 height=100 title="Cadastro do motivo de baixa dos animais" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br /><br />
<a href="../ProdutoServico/Listar"><img src=../../Content/img/servicos1.png width=90 height=100 title="Cadastro de Produtos e Serviços" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../ExameFisico/Listar"><img src=../../Content/img/exameref.png width=90 height=100 title="Exames Físicos" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           
<a href="../ExameReferencia/Listar"><img src=../../Content/img/exame.png width=90 height=100 title="Referencia de Exames" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../Diagnostico/Listar"><img src=../../Content/img/diagnostico.png width=90 height=100 title="Diagnósticos" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../Estado/Listar"><img src=../../Content/img/estado.png width=90 height=100 title="Cadastrar Estado" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="../Cidade/Listar"><img src=../../Content/img/cidade.png width=90 height=100 title="Cadastrar Cidade" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
</center>
