@{
    ViewBag.Title = "Relatorio";
}

<h2>Relatorios</h2>
<table>
<tr>
    <td>Relatório de Produtos e Serviços</td>
    <td><a href="../ProdutoServico/Relatorio"><center><img src=../../Content/img/relatorio.png width=30 height=40 title="Exibir" alt="Exibir" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
    <td>Relatório de Raças</td>
    <td><a href="../Raca/Relatorio"><center><img src=../../Content/img/relatorio.png width=30 height=40 title="Exibir" alt="Exibir" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>


<tr>
    <td>Relatório de Doenças</td>
    <td><a href="../EspecieDoenca/Relatorio"><center><img src=../../Content/img/relatorio.png width=30 height=40 title="Exibir" alt="Exibir" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
    <td>Relatório de Clientes</td>
    <td><a href="../Cliente/Relatorio"><center><img src=../../Content/img/relatorio.png width=30 height=40 title="Exibir" alt="Exibir" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>

<tr>
    <td>Relatório de Produtos e Serviços Adquiridos</td>
    <td><a href="../ConsultaProdServ/Relatorio"><center><img src=../../Content/img/relatorio.png width=30 height=40 title="Exibir" alt="Exibir" border=0></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</table>