
@{
    ViewBag.Title = "_LayoutImp.cshtml";
}


<div id="header">
<table width="90%">
<tr>
<td align="center">
    <h2>Autorização de Procedimento</h2>
</td>
</tr>
</table>
</div>

<div id="main">
     @RenderBody()
</div>
